<div class="custom-Modal" id="createProfile">
		<div class="costom-modal-content">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8">
					<h1>My Profile</h1>
					<p>Personal</p>
					<div class="row">
						<div class="input-field col s12 m6">
							<input type="text" name="email" [(ngModel)]="profileRootObject.lcProfileTitle" class="validate"/>
							<label>Professional Title</label>
						</div>
						<div class="input-field col s12 m6">
							<input type="text" name="statement" [(ngModel)]="profileRootObject.lcProfileStatement" class="validate"/>
							<label>Your Statement</label>
						</div>
						<div class="input-field col s12">
							<textarea name="aboutU" [(ngModel)]="profileRootObject.lcProfileTellAbtYrself" class="materialize-textarea"></textarea>
							<label>Tell us about yourself</label>
						</div>
						<div class="input-field col s12 m4">
							<select class="browser-default" [(ngModel)]="selectedCountryDD"
							(ngModelChange)="processCountrySelection($event)" name="countryName">
								<option *ngFor="let country of resultCountries"
								[ngValue]="country">
								{{country.lcCountryName}}</option>
							</select>
						</div>						
						<div class="input-field col s12 m4">
							<select class="browser-default" [(ngModel)]="selectedStateDD"
							(ngModelChange)="processStateSelection($event)" name="stateName">
								<option *ngFor="let state of resultStates"
								[ngValue]="state">{{state.lcStateName}}</option>
							</select>
						</div>
						<div class="input-field col s12 m4">
							<select class="browser-default"  [(ngModel)]="selectedCityDD"
							(ngModelChange)="processCitySelection($event)" name="cityName">
								<option *ngFor="let city of resultCities"
								[ngValue]="city">{{city.lcCityName}}</option>
							</select>
						</div>
					</div>
					<p>I Can Contribute in</p>
						<div class="row">
							<div class="col s12">
								<a href="#!" class="btn btn-flat">Clear All</a>
								<a href="#!" class="btn btn-flat">Save</a>
							</div>
						</div>
						<div class="row">
							<div class="col s3" *ngFor="let category of arrCategoriesResponse">
								<p>{{category.lcCategoryName}}</p>
								<div *ngFor="let subcat of category.lcSubCategories">
									  <input [(ngModel)]="subcat.checked" 
									type="checkbox" id="{{subcat.lcSubCategoryId}}" />
									<label for="{{subcat.lcSubCategoryId}}">{{subcat.lcSubCategoryName}}</label>
								</div>
							</div>
						</div>
					<p>My Interests</p>
						<div class="row">
							<div class="col s12">
								<a href="#!" class="btn btn-flat">Clear All</a>
								<a href="#!" class="btn btn-flat">Save</a>
							</div>
						</div>
						<div class="row">
							<div class="col s3" *ngFor="let category1 of arrCategoriesInterestResponse let index=i">
								<p>{{category1.lcCategoryName}}</p>
								<div *ngFor="let subcat1 of category1.lcSubCategories">
									  <input [(ngModel)]="subcat1.checked" 
									type="checkbox" id="{{subcat1.lcSubCategoryId+9999}}" />
									<label for="{{subcat1.lcSubCategoryId+9999}}">{{subcat1.lcSubCategoryName}}</label>
								</div>
							</div>
						</div>
					<p>Portfolio</p>
					<div class="row">
						<div class="col s6" *ngFor="let lcportfolio of arrlcportfolio; let i = index">
							<div class="row">
								<div class="input-field col s3">
									<select class="browser-default" 
										[(ngModel)]="lcportfolio.lcPortfolioKey" name="lcPortfolioKey">
										<option value="Please Select" selected>Please Select</option>
										<option value="Youtube">Youtube</option>
										<option value="Instagram">Instagram</option>
										<option value="LinkedIn">LinkedIn</option>
									</select>
								</div>
								<div class="input-field col s9">
									<input type="text" class="portfolio" 
									 type="text" class="portfolio" 
										[(ngModel)]="lcportfolio.lcPortfolioValue" name="lcPortfolioValue"/>
								</div>
							</div>
						</div>
						<button class="btn btn-flat" (click) = "addMorePortfolio()">Add More</button>
					</div>
					<p>Social</p>
					<div class="row">
						<div class="col s6" *ngFor="let lcsocial of arrlcsocial; let i = index">
							<div class="row">
								<div class="input-field col s3">
									<select class="browser-default" 
										[(ngModel)]="lcsocial.lcSocialKey" name="lcSocialKey">
										<option value="0" selected>Please Select</option>
										<option value="1">Youtube</option>
										<option value="2">Instagram</option>
										<option value="3">LinkedIn</option>
									</select>
								</div>
								<div class="input-field col s9">
									<input type="text" class="portfolio" 
									 type="text" class="portfolio" 
										[(ngModel)]="lcsocial.lcSocialValue" name="lcSocialValue"/>
								</div>
							</div>
						</div>
						<button class="btn btn-flat" (click) = "addMoreSocial()">Add More</button>
					</div>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>		
		</div>
		<div class="custom-modal-footer">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8 right-align">
					<button class="btn btn-flat" (click)="saveProfile()">Save</button>
					<button class="btn" (click)="goToProfileLanding()">Save & Close</button>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
		</div>
</div>