<div class="custom-Modal" id="createProfile">
		<div class="costom-modal-content">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8">
					<h1>My Profile</h1>
					<p>Personal</p>
					<div class="row">
						<div class="input-field col s12 m6">
							<input type="text" name="email" [(ngModel)]="profileRootObject.lcProfileTitle" class="validate"/>
							<label>Professional Title</label>
						</div>
						<div class="input-field col s12 m6">
							<input type="text" name="statement" [(ngModel)]="profileRootObject.lcProfileStatement" class="validate"/>
							<label>Your Statement</label>
						</div>
						<div class="input-field col s12">
							<textarea name="aboutU" [(ngModel)]="profileRootObject.lcProfileTellAbtYrself" class="materialize-textarea"></textarea>
							<label>Tell us about yourself</label>
						</div>
						<div class="input-field col s12 m4">
							<select class="browser-default" [(ngModel)]="selectedCountryDD"
							(ngModelChange)="processCountrySelection($event)" name="countryName">
								<option *ngFor="let country of resultCountries"
								[ngValue]="country">{{country.lcCountryName}}</option>
							</select>
						</div>						
						<div class="input-field col s12 m4">
							<select class="browser-default" [(ngModel)]="selectedStateDD"
							(ngModelChange)="processStateSelection($event)" name="stateName">
								<option *ngFor="let state of resultStates"
								[ngValue]="state">{{state.lcStateName}}</option>
							</select>
						</div>
						<div class="input-field col s12 m4">
							<select class="browser-default"  [(ngModel)]="selectedCityDD"
							(ngModelChange)="processCitySelection($event)" name="cityName">
								<option *ngFor="let city of resultCities"
								[ngValue]="city">{{city.lcCityName}}</option>
							</select>
						</div>
					</div>
					<p>I Can Contribute in</p>
						<div class="row">
							<div class="col s12">
								<a href="#!" class="btn btn-flat">Clear All</a>
								<a href="#!" class="btn btn-flat">Save</a>
							</div>
						</div>
						<div class="row">
							<div class="col s3">
								<p>Visual Arts</p>
								<div>
									<input type="checkbox" id="painting" />
									<label for="painting">Painting</label>
								</div>
								<div>
									<input type="checkbox" id="illustration" />
									<label for="illustration">Illustration</label>
								</div>
							</div>
							<div class="col s3">
								<p>Design</p>
								<div>
									<input type="checkbox" id="graphic" />
									<label for="graphic">Graphic</label>
								</div>
								<div>
									<input type="checkbox" id="fashion" />
									<label for="fashion">Fashion</label>
								</div>
							</div>
							<div class="col s3">
								<p>Literary Arts</p>
								<div>
									<input type="checkbox" id="writing" />
									<label for="writing">Writing</label>
								</div>
								<div>
									<input type="checkbox" id="cwriting" />
									<label for="cwriting">CopyWriting</label>
								</div>
							</div>
							<div class="col s3">
								<p>Performing Arts</p>
								<div>
									<input type="checkbox" id="music" />
									<label for="music">Music</label>
								</div>
								<div>
									<input type="checkbox" id="dance" />
									<label for="dance">Dance</label>
								</div>
							</div>
						</div>
					<p>My Interests</p>
					<div class="row">
						<div class="col s12">
							<button class="btn btn-flat choose">Choose</button>
						</div>
					</div>
					<p>Portfolio</p>
					<div class="row">
						<div class="col s6" *ngFor="let lcportfolio of arrlcportfolio; let i = index">
							<div class="row">
								<div class="input-field col s3">
									<select class="browser-default" 
										[(ngModel)]="lcportfolio.lcPortfolioKey" name="lcPortfolioKey">
										<option value="1" selected>Youtube</option>
										<option value="2">Instagram</option>
										<option value="3">LinkedIn</option>
									</select>
								</div>
								<div class="input-field col s9">
									<input type="text" class="portfolio" 
									 type="text" class="portfolio" 
										[(ngModel)]="lcportfolio.lcPortfolioValue" name="lcPortfolioValue"/>
								</div>
							</div>
						</div>
						<button class="btn btn-flat" (click) = "addMorePortfolio()">Add More</button>
					</div>
					<p>Social</p>
					<div class="row">
						<div class="col s6" *ngFor="let lcsocial of arrlcsocial; let i = index">
							<div class="row">
								<div class="input-field col s3">
									<select class="browser-default" 
										[(ngModel)]="lcsocial.lcSocialKey" name="lcSocialKey">
										<option value="1" selected>Youtube</option>
										<option value="2">Instagram</option>
										<option value="3">LinkedIn</option>
									</select>
								</div>
								<div class="input-field col s9">
									<input type="text" class="portfolio" 
									 type="text" class="portfolio" 
										[(ngModel)]="lcsocial.lcSocialValue" name="lcSocialValue"/>
								</div>
							</div>
						</div>
						<button class="btn btn-flat" (click) = "addMoreSocial()">Add More</button>
					</div>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>		
		</div>
		<div class="custom-modal-footer">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8 right-align">
					<button class="btn btn-flat" (click)="saveProfile()">Save</button>
					<button class="btn">Save & Close</button>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
		</div>
</div>